@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');

body
{
    font-family: "alexandria";
    color: #163055;
}

.flexRow
{
    display: flex;
    flex-direction: row;
}

.avaContainer
{
    width: 393px;
    height: 852px;
    overflow-y: hidden;
    background-color: white;
    border: 2px solid black;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

}

.appHeader
{
    width: 100%;
    height: 106px;
    background-color: #163055;

    display: flex;
    align-items: end;
    justify-content: center;
}

.appHeader h1
{
    font-family: "alexandria";
    font-size: 28px;
    font-weight: 300;
    color: white;
}

/* Toggle page while Building */
#homeMenuPage
{
    /* default is flex */
    display: none;
}

.btnContainer
{
    width: 100%;

    background-color: white;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.medicationBtn
{
    width: 345px;
    height: 214px;
    border: 4px solid #163055;
    border-radius: 8px;
    margin: 10px 0 10px 0;
    box-shadow: 0 3px 5px rgba(1, 1, 1, .25);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.medicationBtn:active
{
    background-color: #163055;
}

.medicationBtn h2
{
    font-family: "alexandria";
    font-size: 20px;
    color: #163055;
}

.medicationBtn:active h2
{
    color: white;
}

.homeSquareBtns
{
    width: 165px;
    height: 165px;
    border: #163055 4px solid;
    border-radius: 8px;
    margin: 4px;
    box-shadow: 0 3px 5px rgba(1, 1, 1, .25);
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homeSquareBtns:active 
{
    background-color: #163055;
}

.homeSquareBtns h2
{
    font-family: "alexandria";
    color: #163055;
    margin: 2px;
    font-size: 20px;
}

.homeSquareBtns:active h2
{
    color: white;
}

/* MEDICATION PAGE */
#medicationPage
{
    max-width: 100%;

    /* default is none */
    display: none;
    align-items: center;
    flex-direction: column;
   
}

#addEditMedsCont
{
    margin-top: 16px;

    display: flex;
    flex-direction: row;
}

.addEditMedsBtns
{
    width: 164px;
    height: 98px;
    border: 2px solid #BDBFC0;
    margin: 0 5px;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(1, 1, 1, .25);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.addEditMedsBtns h3
{
    font-family: "alexandria";
    font-size: 1em;
    font-weight: 500;
    margin: 0;
}

#currentDateCont
{
    margin-top: 18px;
    height: 120px;
    width: 100%;
 
}

#currentDateCont h3
{
    text-align: center;
    font-weight: 500;
    margin: 0;
}

.dateScrollWrapper
{
    overflow: visible;
    width: 100%;
}

.dateScroll {
    overflow-x: auto;       /* still scrollable */
    /* overflow-y: hidden;      */
    box-sizing: border-box;
    scroll-snap-type: x mandatory;
    margin-top: 16px;

    display: flex;
    flex-direction: row;
    /* align-items: center; */

    -ms-overflow-style: none;  /* IE & Edge */
    scrollbar-width: none;     /* Firefox */

    padding-left: 150px;   /* add space so MON can center */
    padding-right: 150px;  /* add space so FRI can center */
}

/* Chrome, Safari, Opera */
.dateScroll::-webkit-scrollbar {
    display: none;
}




.dateBtn
{
    width: 90px;
    height: 84px;
    border: #BDBFC0 2px solid;
    border-radius: 10px;
    margin: 0 8px;
    background-color: #E8EBEE;
    box-shadow: 0 5px 5px rgba(1, 1, 1, .1);
    /* flex I think is making sure the size of the buttons won't change */
    flex: 0 0 auto;
    cursor: pointer;
    scroll-snap-align: center;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.dateBtn h2,
.dateBtn h3
{
    font-family: "alexandria";
    font-size: 1.5em;
    margin: 0 6.5px;
}

.dateBtn h3
{
    font-weight: 500;
    font-size: 1em;

}

.dateBtn.active 
{
    width: 105px;
    height: 98px;
    background-color: white;
    border:#65A898 4px solid;
    box-shadow: #65A898 0 0 8px;

}

#medListCont
{
    margin-top: 24px;
    height: 365px;
    overflow-y: auto;
    /* Removal of scrollbar from ChatGpt */
    scrollbar-width: none;      /* Firefox */
    -ms-overflow-style: none;   /* IE / Edge */

    display: flex;
    flex-direction: column;
}

.pageContent::-webkit-scrollbar {
    display: none;              /* Chrome / Safari */
}

.medBtn
{
    width: 345px;
    min-height: 82px;
    border: #65A898 2px solid;
    border-radius: 10px;
    margin: 7px 0;
    box-shadow: 0 5px 5px rgba(1, 1, 1, .33);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.medBtn h2
{
    font-family: "alexandria";
    font-size: 1.25em;
    font-weight: 500;
}

.medBtn.active
{
    background: linear-gradient(to bottom, #ffffff, #CAE3DD);
}
.medBtn.active h2
{
    color: #65A898;
}

/*  Medication Details Page  */

.medDetailPage
{
    display: flex;
    flex-direction: column;
}

.medDetailBg
{
    background-color: rgba(22, 48, 85,.2);
    width: 345px;
    height: 459px;
    margin-left: 24px;
    margin-right: 24px;
    border-radius: 8px;
}

.medDetailTitleArea
{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;

    display: flex;
    justify-content: space-between;
    align-items: end;
}

.medDetailTitle
{

}

.medDetailBtnTop
{
    background-color: white;
    width: 89px;
    height: 78px;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.medDetailBtnTop p
{
    margin: 0;
}

#medDetailEdge
{
    /* padding-left: 24px;
    padding-right: 24px; */
    margin-top: 13px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.medDetailInfoArea
{
   display: flex;
   flex-direction: column;
}

.medDetailInfo
{
    width: 306px;
    height: 60px;
    background-color: rgba(22, 48, 85,.2);
    border-radius: 8px;
    margin-bottom: 11px;
    margin-top: 11px;
    margin-left: 20px;
    margin-right: 20px;


    display: flex;
    align-items: center;
    justify-content: space-between;
}

.medDetailInfo p
{
    margin-left: 10px;
}

.medDetailBtn
{
    width: 165px;
    height: 126px;
    border: 1px solid #BDBFC0;
    margin-left: 7.5px;
    margin-right: 7.5px;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.medDetailBtn h2
{
    margin: 0;
}

.otherInstruction
{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.otherInstruction h2
{
    margin: 0;
    width: 100%;
    margin-left: 40px;

}

.instructionTextArea
{
    background-color: white;
    width: 305px;
    height: 158px;
    border-radius: 8px;
    border: #BDBFC0 solid 1px;

    display: flex;
}

.instructionTextArea h3
{
    margin-left: 10px;
}

.instructions
{
    background-color: white;
    width: 153px;
    height: 50px;
    border-radius: 8px;
    margin: 5px 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#takenBtn
{
    background-color: #9FD5C8;
}



/* FOOTER BUTTONS */
.footerBtnCont
{
    width: 100%;

    height: 116px;

    background-color: #163055;
}

#homeFooterBtn
{
    
    width: 100%;
    height: 100%;
    /* default is flex */
    display: none;
    justify-content: space-around;
    align-items: center;
}
.footerBtn
{   

    font-family: 'alexandria';
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerBtn img
{
    width: 56px;
    height: 56px;
}

.footerBtn p
{
    margin: 4px;
    color: white;
    font-family: 'alexandria';
    font-size: 16px;
}

/* ***** Medication Page ***** */

.medChecked
{
    width: 64px;
    height: 64px;
}

.medChecked img
{
    display: none;
}

.medBtn.active .medChecked img
{
    display: block;
}

.inPageButtons
{
    width: 100%;
    height: 100%;

    /* default is none */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.inPageButtons p
{
    font-size: 1em;
}

.footerBtn
{
    cursor: pointer;
}